export const ENTRIES1 = [
    {
        title: 'Mario',
        subtitle: 'Mario is something here',
        illustration: 'https://vignette2.wikia.nocookie.net/mariokart/images/d/d9/MK8_Mario_Icon.png/revision/latest?cb=20151225134138'
    },
    {
        title: 'Standard Kart',
        subtitle: 'Standard Kart is somthing here',
        illustration: 'https://vignette2.wikia.nocookie.net/mariokart/images/0/05/StandardKartBodyMK8.png/revision/latest?cb=20140715154926'
    },
    {
        title: 'Slik Wheels',
        subtitle: 'Slik wheels sothing',
        illustration: 'https://www.mariowiki.com/images/d/dd/SlickTiresMK8.png'
    },
    {
        title: 'Glider Cloud',
        subtitle: 'Glider cloud somthing somthing',
        illustration: 'https://vignette1.wikia.nocookie.net/mariokart/images/8/84/Cloud_Glider.png/revision/latest?cb=20141102125838'
    },
];
